// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.twit,.git,.in,.ga,.tube{
  margin-top:80vh;
  transition: all 0.5s;
  &:hover{
    opacity: 0.4;
  }
}
a{
  text-decoration: none;
}
.twit{
  color:#33CCFF;
}
.git{
  color:#000;
}
.in{
  color:#034078;
}
.tube{
  color: #FF3333;
}
h1{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 120%);
  letter-spacing: 20px;
}
.vid{
  width: 25%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2vw;
  transition: all .5s;
  z-index: 1;
}
.vid:hover{
  opacity: 0.4;
}
.one{
  left: 10%;
}
.two{
  left: 50%;
  transform: translate(-50%, -50%);
}
.tre{
  right: 10%;
}

